<footer>
    <div class="contact">
      <div class="header">Get in touch</div>
      <div class="icon-row">
        <div>
          <a href="mailto:kaemmerer.abby@gmail.com" target="_blank">
            <span class="material-symbols-outlined">
            mail
            </span>
          </a>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/sean-kraham-996b4670/" target="_blank">
            <span>
              <img src="../../assets/img/linkedin.png">
            </span>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/talldorknhandsome/" target="_blank">
            <span>
              <img src="../../assets/img/ig.png">
            </span>
          </a>
        </div>
  
      </div>
    </div>
    <div class="site-by">
      <span>Site by: </span>
      <span><a href="https://abby-kaemmerer.netlify.app/" target="_blank">Abby Kaemmerer</a></span>
    </div>
</footer>
