.container {
    background-color: #f09e19;
    font-family: monospace;
    height: 87vh;
}

.content {
    display: flex;
    width: 100vw;
    align-items: center;
    margin: 10em 0;
}

.photo {
    text-align: end;
}

.photo img{
    width: 50%;
}

.bio {
    width: 50%;
}

.bio div {
    width: 75%;
    margin: 25px 50px;
}

.bio-header {
    font-size: 2em;
}

.bio .desc {
    font-size: 1.25em;
}

.resume a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}