.container {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
    height: 100%;
  }

  /* .title {
    font-family: 'Silkscreen', cursive;
    font-size: 2.5em;
  } */

  img {
    width: 400px;
    margin: 0 25px;
 }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 25px 0;
  }