<div class="container">
    <app-header></app-header>
    <div class="project-container">
        <div class="row">
            <div class="img"><img src="../../assets/img/bugs.jpg"></div>
            <div class="img"><img src="../../assets/img/bois.jpg"></div>
            <div class="img"><img src="../../assets/img/lava.jpg"></div>
        </div>
        <div class="row">
            <div class="img"><img src="../../assets/img/dice.jpg"></div>
            <div class="img"><img src="../../assets/img/tooth.jpg"></div>
            <div class="img"><img src="../../assets/img/checker.jpg"></div>
        </div>
        <div class="row">
            <div class="img"><img src="../../assets/img/fun.jpg"></div>
            <div class="img"><img src="../../assets/img/razor.jpg"></div>
            <div class="img"><img src="../../assets/img/felix.jpg"></div>
        </div>
        <div class="row">
            <div class="img"><img src="../../assets/img/swirly.jpg"></div>
            <div class="img"><img src="../../assets/img/mick.jpg"></div>
            <div class="img"><img src="../../assets/img/peace.jpg"></div>
        </div>
    </div>
</div>