.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}

.contact-container  h3 {
    text-transform: uppercase;
    font-weight: 400;
}

form {
    margin-top: 1.5em;
}

form div {
    display: flex;
    width: 100%;
}

form label {
    width: 100%;
}

form input {
    width: 95%;
    background-color: transparent;
    box-shadow: 0px 1px 2px 2px #f3e9dc87;
    height: 3em;
    border: 1px solid #f3e9dc87;
    outline: none;
    margin: 5px;
    padding: 10px;
}

form .upload input {
    width: 40%;
    box-shadow: none;
    border: none;
}

form input::placeholder, form textarea::placeholder {
    color: #f3e9dc;
    font-size: 18px;
    font-family: monospace;

}

form textarea {
    width: 100%;
    background-color: transparent;
    box-shadow: 0px 1px 2px 2px #f3e9dc87;
    border: 1px solid #f3e9dc87;
    outline: none;
    padding: 10px;
    margin: 5px;
}

form button {
    padding: 15px 30px;
    /* box-shadow: 6px 5px #c8d13c; */
    background: #f3e9dc;
    color: #95bfc0;
    box-shadow: inset 0px 0px 2px 2px #6e8a8b;
    border: 1px solid #6e8a8b;
    text-transform: uppercase;
    margin: 20px 10px
}

form button span {
    font-size: 25px;
}

form button:hover {
    cursor: pointer;
    text-shadow: 20px 10px 0px #407374;
    background: #95bfc0;
    color: #f3e9dc;

}