<div class="contact-container">
    <h3>Let's chat</h3>
    <form
      action="https://formspree.io/f/xeqdqzjw"
      method="POST"
      enctype="multipart/form-data"
    >
    
    <div>
        <div>
            <label for="first-name">
                <input type="text" placeholder="First Name" id="first-name" name="firstName"/>
            </label>
        </div>
        <div>
            <label for="last-name">
                <input type="text" placeholder="Last Name" id="last-name" name="lastName">
            </label>
        </div>
    </div>
    <div>
        <div>
            <label>
                <input type="email" placeholder="Email" name="email">
            </label>
        </div>
        <div>
            <label>
                <input type="tel" placeholder="Phone" name="phone">
            </label>
        </div>
    </div>
    <div>
        <div>
            <textarea name="msg" placeholder="What are you looking for?" rows="10"></textarea>
          </div>
    </div>
    <div class="upload">
        <label>
            Reference pictures:
            <input type="file" name="upload">
        </label>
    </div>
      <button type="submit"><span>Send</span></button>
    </form>
</div>
